<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DAYPACE - Editar usuário</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
	</head>
	<body>
		{% for field in form %}
			{% for error in field.errors %}
				<div class="caixa" id="aviso">
				{{ error }}
				</div>
			{% endfor %}
		{% endfor %}
		{% load static %}
		<script src="{% static 'js/script.js' %}"></script>
		<div class='centro'>
			<div class='caixa'>
			{% load static %}
			<h1 class='titulo'>Editar usuário</h1>
			<form method="POST">
				<div class='painel'>
					{% csrf_token %}
					<div class='campos'>Nome:</div>
					{{ form.first_name }}
					<div class='campos'>Sobrenome:</div>
					{{ form.last_name }} 
					<div class='campos'>Email:</div>
					{{ form.email }}
					<div class='campos'>Telefone:</div>
					<input type="tel" name="telefone" class='caixaTexto' placeholder="Telefone" value="{{ perfil.telefone }}">
					<div class='campos'>Nova senha:</div>
					<input type="password" name="senha" class='caixaTexto' placeholder="Nova senha">
					<div class='campos'>Confirmar senha:</div>
					<input type="password" name="confirmarSenha" class='caixaTexto' placeholder="Confirmar senha">
					<button class="botao" type="submit">Salvar</button>
					<a href="{% url 'home' %}">
						<div class='botao'>Voltar</div>
					</a>
				</div>
			</form>
			</div>
		</div>
	</body>
</html>


