<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>
	<body>
		<div class='caixa'>
		{% load static %}
		<img src="{% static 'logo.png' %}" alt="logo" class='logo'> 
		<h1>Bem-vindo {{ user.username }}</h1>
		<a class='botao' href="{% url 'login' %}">Login</a>
		<a class='botao' href="{% url 'registro' %}">Registrar</a>
		<a class='botao' href="{% url 'logout' %}">Sair</a>
		</div>
	</body>
</html>
