<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DAYPACE - Início</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
	</head>
	<body id='fundao'>
		<div id='barra'>
			<form method='POST' action='{% url 'cadastrarTarefa' projeto.id %}'>
				{% csrf_token %}
				<input name='nome' class='caixaTexto' type="text" placeholder="Tarefa">
				<input name='descricao' class='caixaTexto' type="text" placeholder="Descrição">
				<button class='botao'>Adicionar nota</button>
			</form>
			<div class='titulo sombra'>
				notas:
				{{ tarefas|length }}
			</div>
		</div>
		<div id='quadro'>
			<div class='coluna fazer' data-status='todo'>
				<h2 class='titulo sombra'>A Fazer</h2>
				{% for tarefa in todo %}
				<div class='nota' draggable='true' data-id='{{tarefa.id}}'>
					<p class='nome'>{{tarefa.nomeTarefa}}</p>
					{{tarefa.descricao}}
				</div>
				{% endfor %}
			</div>
			<div class='coluna fazendo' data-status='doing'>
				<h2 class='titulo sombra'>Fazendo</h2>
				{% for tarefa in doing %}
				<div class='nota' draggable='true' data-id='{{tarefa.id}}'>
					<p class='nome'>{{tarefa.nomeTarefa}}</p>
					{{tarefa.descricao}}
				</div>
				{% endfor %}
			</div>
			<div class='coluna concluido' data-status='done'>
				<h2 class='titulo sombra'>Concluido</h2>
				{% for tarefa in done %}
				<div class='nota' draggable='true' data-id='{{tarefa.id}}'>
					<p class='nome'>{{tarefa.nomeTarefa}}</p>
					{{tarefa.descricao}}
				</div>
				{% endfor %}
			</div>
		</div>
		{% load static %}
		<script src="{% static 'script.js' %}"></script>
	</body>
