<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DAYPACE - Início</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
	</head>
	<body>
		<div id='quadro'>
			<div class='coluna fazer'>
				{% for tarefa in tarefas %}
				{% if tarefa.status == "todo" %}
				<div class="nota">
				{{ tarefa.nomeTarefa }}
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class='coluna fazendo'>
				{% for tarefa in tarefas %}
				{% if tarefa.status == "doing" %}
				<div class="nota">
				{{ tarefa.nomeTarefa }}
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class='coluna concluido'>
				{% for tarefa in tarefas %}
				{% if tarefa.status == "done" %}
				<div class="nota">
				{{ tarefa.nomeTarefa }}
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% load static %}
		<script src="{% static 'script.js' %}"></script>
	</body>
