<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DAYPACE - Login</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
	</head>
	<body>
		<div class='centro'>
			<div class='caixa'>
			{% load static %}
			<img src="{% static 'logo.png' %}" alt="logo" class='logo'> 
			<form method="POST">
				{% csrf_token %}
				<input class='caixaTexto' type="text" name="username" placeholder="Usuário">
				<input class='caixaTexto' type="password" name="password" placeholder="Senha">
				<div class='painel'>
					<button class='botao' type="submit">
						Entrar
					</button>
					<a href="{% url 'home' %}">
						<div class='botao'>Voltar</div>
					</a>
				</div>
			</form>
			</div>
		</div>
	</body>
</html>
