<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DAYPACE - Registro</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
	</head>
	<body>
		{% if messages %}
			{% for message in messages %}
				<div class="caixa frente">
					<div class='fechar'>X</div>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		{% load static %}
		<script src="{% static 'js/script.js' %}"></script>
		<div class='centro'>
			<div class='caixa'>
				<h1 class='titulo'>Registrar</h1>
			<form method="POST">
				{% csrf_token %}
				<input class='caixaTexto' type="text" name="nomeUsuario" placeholder="Nome de usuário">
				<input class='caixaTexto' type="text" name="nome" placeholder="Nome">
				<input class='caixaTexto' type="text" name="sobrenome" placeholder="Sobrenome">
				<input class='caixaTexto' type="email" name="email" placeholder="Email">
				<input class='caixaTexto' type="password" name="senha" placeholder="Senha">
				<div class='painel'>
					<button class='botao' type="submit">
						Registrar
					</button>
					<a href="{% url 'home' %}">
						<div class='botao'>Voltar</div>
					</a>
				</div>
			</form>
			</div>
		</div>
	</body>
</html>


