:root {
	--note : #f6e68e; 
	--font : #efefef;
	--border : rgba(255,255,255,0.4);
	--background : rgba(0,0,0, 0.3); 
}
*{
	font-family: "Gill Sans", sans-serif;
}
a, button{
	all: unset;
}
body {
	background: radial-gradient( ellipse 14% 7% at center, #efefef 99%, #dddddd 100%);
}
#aviso{
	position: absolute;
	top: 50%;
	left: 50%;
	height:10%;
	width:20%;
	z-index:10;
	transform: translate(-50%, -50%);
	text-align: center;
	padding:5% 0 0 0;
	font-size:100%;
	font-weight:100%;
	cursor: pointer;
}
.caixa{
	width: 30%;
	margin: auto auto; 
	background: var(--background);
	backdrop-filter: blur(10px);
	border:1px solid  var(--border);
	border-radius:20px;
	padding-left:15px;
	padding-right:15px;
	box-shadow: 0 0 10px var(--background);
}
.painel *{
	display: flex;
	justify-content: center;
}
.botao{
	color:black;
	text-align: center;
	font-size:100%;
	width:50%;
	padding:1px;
	margin:10px auto;
	background: linear-gradient(to bottom,#ffd208 0%,#ffd208 15%,var(--note) 15%,var(--note) 100%);
	box-shadow: 1px 1px 3px black;
}
.botao:hover{
	box-shadow: 1px 2px 3px rgba(0,0,0, 0.7);
	transform: translateY(-2px);
	cursor: pointer;
}
.caixaTexto{
	display: flex;
	width:90%;
	color:#111;
	margin:10px 1%; 
	border-radius:20px;
	padding-left:15px;
	padding-right:15px;
	box-shadow: 1px 1px 3px inset var(--background);
}
.centro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bem-vindo{
	color: var(--note);
	font-size:150%;
	margin:0px;
	text-align: center;
}
.logo{
	width:50%;
	margin:0px 25%;
	margin-top:5%;
}
#projetos{
	text-align: center;
	justify-content: center;
	margin:10%;
	overflow:auto;
	height:200px;
}
#projetos .botao{
	margin:5px auto;
	display:inline-block;
}
.nota{
	width:auto;
	height:auto;
	display: inline-block;
	padding:5px;
	color:black;
	box-shadow: 1px 1px 3px black;
	background: linear-gradient(to bottom,#ffd208 0%,#ffd208 5%,var(--note) 5%,var(--note) 100%);
	cursor:grab;
	position: absolute;
	text-align: center;
	font-size:100%;
	max-width: 200px;
	word-break: break-word;
}
.editar{
	padding:2px;
	display: inline-block;
	width:100%;
}
.editar .e{
	position:absolute;
	top:2px;
	left:2px;
}
.editar .d{
	position:absolute;
	top:2px;
	right:2px;
}
#quadro{
	display: flex;
	height: 100vh;
}
.coluna{
	flex: 1;
}
.fazer{
	background:rgb(255,216,216);
}
.fazendo{
	background:rgb(255,255,192);
}
.concluido{
	background:rgb(192,255,192);
}
